.container {
  background-color: var(--green-color);
  padding: 100px 20px 20px 20px;
  position: relative;
}

.title {
  position: absolute;
  width: 60%;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
  background-color: var(--background-color);
  color: var(--brown-color);
  font-size: xx-large;
  font-family: var(--font-title);
  padding: 20px;
  text-align: center;
}

.avis-container {
  display: flex;
  justify-content: space-around;
}

.avis {
  background-color: var(--brown-light-color);
  border: 4px solid var(--brown-color);
  border-radius: 5px;
  width: 20%;
  padding: 20px;

}

.avis h3 {
  font-family: var(--font-paragraph);
}

.stars {
  margin-bottom: 10px;
}

