.header-logo {
  background-color: var(--brown-light-color);
  text-align: center;
  padding: 10px;
}

.header-logo img {
  height: 130px;
}

.header-menu{
  background-color: var(--brown-color);
}

.header-menu nav{
  width: 75%;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.header-menu nav span {
  margin: 10px;
}

.header-menu nav a:hover {
  color: var(--green-color);;
}

.header a {
  text-decoration: none;
  color: var(--brown-light-color);
  font-family: var(--font-subtitle);
  font-size:x-large;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

