.maps{
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}