.sliderss {

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sliderss .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sliderss h1 {
  margin: 0;
  padding-left: 100px;
}

.sliderss h2 {
  margin: 0;
  padding-right: 100px;
}

.sliderss p {
  margin: 20px 0;
  margin-left: 100px;
  margin-right: 100px;
}

.button-container {
text-align: right;
margin-right: 100px;
}