.sliderss {
  color: var(--brown-color);
  width: 74%;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.sliderss .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-subtitle);
  font-size:xx-large;
}

.text{
  /* position: relative; */
  text-align:justify;
  font-family: var(--font-paragraph);
}

/* .text img {
  position: absolute;
} */

.button-container {
  padding-top: 10px;
  text-align: right;
}